/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@300&display=swap");

/* COLOR ROOT */
:root {
  --black: #303030;
  --grey: #8f8389;
  --white: #f2f2f2;
  --mint: #e6efe9;
  --blue: #c5f4e0;
  --green-light: #c2eaba;
  --green-dark: #a7c4a0;
}

/* GENERICS */
body {
  margin: 0px;
  background-color: var(--mint);
  font-family: "Poppins";
  color: var(--black);
}

a {
  font-family: "Poppins";
  text-decoration: none;
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Indie Flower";
}

/* ANIMATIONS */
@keyframes appearFromRight {
  0% {
    transform: translateX(30px);
    visibility: visible;
    opacity: 0%;
  }

  75% {
    opacity: 30%;
  }

  100% {
    transform: translateX(0px);
    opacity: 100%;
    visibility: visible;
  }
}

/* CLASSES */
.navbar-action {
  padding: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  list-style: none;
}

.input {
  background-color: white;
  min-width: 50vw;
  border-radius: 22px;
  padding: 8px;
  margin-bottom: 16px;
}

.input > form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input > form > .btn {
  margin: 0px;
}

.input > form > input {
  margin-left: 16px;
  border: none;
  width: 40vw;
}

.input > form > input:focus-visible {
  outline: none;
}

.hand-sign {
  width: 70px;
  margin: 4px;
}

.btn {
  background-color: var(--mint);
  color: var(--black);
  border: 1px solid var(--white);
  border-radius: 20px;
  width: 100px;
  padding: 5px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.btn:hover {
  background-color: var(--green-dark);
  cursor: pointer;
}

.btn:active {
  transform: translateY(3px);
}

.error-msg {
  margin-left: 24px;
  color: red;
  position: absolute;
}

/* IDs */
#app-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--green-light);
  height: 400px;
  width: 100vw;
  position: absolute;
}

#navbar {
  display: inline-flex;
  position: fixed;
  align-items: center;
  background-color: var(--green-dark);
  width: 100vw;
  box-shadow: 0px 0px 45px -20px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 45px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 45px -20px rgba(0, 0, 0, 0.75);
}

#nav-separator {
  background-color: var(--white);
  height: 32px;
  width: 2px;
  border-radius: 4px;
  margin-left: 16px;
}

#navbar-list {
  display: flex;
  align-items: center;
  margin: 0%;
  width: 100%;
  padding: 0;
}

#navbar-list > li > a:hover {
  text-decoration: underline var(--white) solid 1px;
  text-underline-offset: 3px;
}

#navbar-profile-text {
  visibility: hidden;
}

#nav-list-end {
  margin-left: auto;
}

#navbar-header {
  margin-left: 25px;
  min-width: 185px;
}

#login-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#translation-window {
  width: 85vw;
  margin: 0px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#translation-field {
  display: flex;
  flex-direction: column;
  margin: 60px;
  background-color: var(--white);
  min-height: 300px;
  min-width: calc(50vw + 16px);
  border-radius: 22px;
  box-shadow: 0px 10px 32px -6px rgba(87, 87, 87, 0.75);
  -webkit-box-shadow: 0px 10px 32px -6px rgba(87, 87, 87, 0.75);
  -moz-box-shadow: 0px 10px 32px -6px rgba(87, 87, 87, 0.75);
}

#translation-result {
  flex-direction: row;
}

#translation-field-bottom-bar {
  background-color: var(--green-dark);
  margin-top: auto;
  border-radius: 0px 0px 22px 22px;
  padding: 8px;
}

#translation-tag {
  background-color: var(--green-light);
  border-radius: 22px;
  margin: 0;
  margin-left: 8px;
  text-align: center;
  width: 120px;
}

#profile-nav-item {
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#profile-nav-avatar,
img {
  padding: 8px;
  width: 50px;
}

#profile-nav-avatar:hover {
  cursor: pointer;
}

#profile-nav-item:hover > #navbar-profile-text {
  animation-name: appearFromRight;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

#profile-page-avatar {
  width: 100px;
  margin-top: 16px;
}

#profile-window {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 505px;
  min-height: 375px;
  background-color: var(--mint);
  margin-top: 25vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 22px;
  box-shadow: 0px 10px 32px -6px rgba(87, 87, 87, 0.75);
  -webkit-box-shadow: 0px 10px 32px -6px rgba(87, 87, 87, 0.75);
  -moz-box-shadow: 0px 10px 32px -6px rgba(87, 87, 87, 0.75);
}

#profile-content {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  width: 400px;
  margin-bottom: 24px;
  border-radius: 22px;
  list-style: none;
}

#translation-list {
  width: inherit;
  text-align: left;
}

#profile-history-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: "- ";
}

#translation-history-headline {
  background-color: var(--green-dark);
  color: var(--white);
  height: 40px;
  padding-top: 10px;
  margin: 0px;
  border-radius: 22px 0px 0px 0px;
  text-align: center;
}

#profile-actions {
  padding: 16px;
  margin: 0px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: var(--green-light);
  margin-left: 0px;
  list-style: none;
  border-radius: 0px 22px 22px 0px;
}

#logout-item {
  margin-top: auto;
}

#error-login {
  margin-top: 12px;
}

#footer-area {
  min-height: 15vh;
}
